body {
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left: 20px;
    margin-right: 20px;
}

.heading {
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
    color: white;
    font: weight 500px;

}

.section1 {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    color: white;
    font-size: 30px;
    font-weight: 50px;
    border-radius: 10px;
    padding: 10px 30px;


}

.topic {
    text-align: center;
    padding: 2% 25%;
    font-size: 20px;
    color: black;


}

.tk1 {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 75px;
    border: 0px solid;
    background-color: rgb(255, 245, 240);
    padding-top: 25px;
}

.tk2 {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 75px;
    border: 2px solid red;
    background-color: palevioletred;
    padding-top: 25px;

}

.tk3 {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 75px;
    border: 0px solid;
    background-color: rgb(255, 245, 240);
    padding-top: 25px;

}

.tk4 {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 75px;
    border: 0px solid;
    background-color: rgb(255, 245, 240);
    padding-top: 25px;
}

.section2 {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;

}

.input {
    text-align: center;
    font-size: small;
}

.button-2 {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    color: white;
    font-size: 20px;
    font-weight: 30px;
    border-radius: 10px;
    padding: 10px 30px;
    margin-left: 43%;
}

.add {
    padding-bottom: 100px;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.semi {
    text-align: center;

    font-size: 20px;
}

.para {
    text-align: center;

}

.icon {
    height: 30px;
    margin-top: 2px;

}

.card1 {
    width: 250px;
    height: 260px;
    border: 0px solid;
    margin-top: 15px;
    background-color: rgba(127, 219, 255, 0.459);
    text-align: justify;
    font-size: 12px;
    border-radius: 8px;
    margin: 20px;


}

.card2 {
    width: 250px;
    height: 260px;
    border: 0px solid;
    margin-top: 15px;
    background-color: pink;
    text-align: justify;
    font-size: 12px;
    border-radius: 8px;
    margin: 15px;
    margin-top: 15px;

}

.card3 {
    width: 250px;
    height: 260px;
    border: 0px solid;
    margin-top: 15px;
    background-color: rgba(127, 255, 212, 0.459);
    text-align: justify;
    font-size: 12px;
    margin: 20px;
    border-radius: 8px;


}

.section3 {
    display: inline-block;
    display: flex;
    margin-left: 20%;


}

.updates {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.para3 {
    text-align: center;
    font-size: 15px;


    font-weight: 10px;
}









.input-email {
    display: inline-block;
    display: flex;
    height: 40px;
    width: 30px;
    border: 0px solid black;
    margin-left: 32%;
    padding-top: 2%;


}



.in-button {
    background-color: tomato;
    font-size: 15px;
    font-weight: 30px;
    color: white;
    padding: 5px 9px;

}

.subs-container {
    align-items: center;
    width: 70%;
    height: 70px;
    background-color: pink;
    margin-left: 16%;
    margin-bottom: 10%;
}




footer {
    height: 60%;
    width: 100%;
    background-color: black;
}

.foot {
    padding: 10px;
}

.be {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: maroon;
}

.right {
    font-size: small;
    text-align: center;
    color: whitesmoke;
}